aws_region           = "us-east-1"
environment          = "dev"
project_name         = "core-app"
vpc_cidr             = "10.10.0.0/16"
public_subnet_1_cidr = "10.10.1.0/24"
public_subnet_2_cidr = "10.10.2.0/24"
private_subnet_cidr  = "10.10.10.0/24"
availability_zone_1  = "us-east-1a"
availability_zone_2  = "us-east-1b"
ssh_allowed_cidr     = "203.0.113.10/32"
ami_id               = "ami-xxxxxxxxxxxxxxxxx" #Need to edit with your desire AMI
instance_type        = "t3.micro"
create_key_pair      = true
key_pair_name        = "core-app-dev-key"
public_key           = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDreplace-with-your-public-key user@host" #Need to edit with your actual public key
bucket_name          = "core-app-dev-unique-bucket-name" #Need to edit with your desire bucket name
